	#login-content{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		margin: auto;
		z-index: 25;
	}
	#login{
		margin:60px auto 0;
		height: 400px;
		width:74%;
		max-width:400px;
	}
	#login .logo{
		width:70%;
		display:block;
		margin:50px auto 80px;
	}
	#login .title{
		font-size: 15px;
		text-align: center;
		text-shadow: #d8d8d8 1px 1px 3px;
		color:#484848;
		margin-bottom: 30px;
		display:none;
	}
	#login .form-control{
		border-radius: 50px;;
		height: 50px;
		line-height: 55px;
		margin-bottom: 25px;
		background: rgba(0, 0, 0, 0);
		border:1px solid #cecece;
		text-align:center;
		display: block;
   		width: 100%;
    	font-size: 1rem;
		color: #495057;
		outline:none;
	}
	#login .form-control:focus{
		background: #cecece47;
	}
	#login button{
		border-radius: 50px;;
		height: 50px;
		line-height: 52px;
		margin-bottom: 20px;
		background-image:linear-gradient(to top,#65b5f1 0% , #51b2f9 50%,#65b5f1 100% );
		border:1px solid #51b2f9 ;
		width:100%;
		color:#fff;
		font-size:18px;
	}
    footer{
        color: #6f6f6f;
        font-size: 14px;
        text-align: center;
	}